<!DOCTYPE html>
<html>
  <head>
    <title>Congress @ Work</title>
    <style>
      body {
        padding: 50px;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error {
          color: red
      }
      .success {
          color: green;
      }
    </style>
  </head>
  <body>
    <h1>112th Congress</h1>
    <%- body %>
  </body>
</html>
